# Options for downloading physiobank data when file is not already on local machine. 

[pbdownload]
# Flag that specifies whether to search and download missing files from physiobank 
getpbfiles: 1

# Flag that specifies whether to keep automatically downloaded physiobank files  
keepdledfiles: 1

# Base cache directory in which data files are searched for (after searching the current working directory) 
# and missing files are downloaded. The full download directory is cachedir/pbsubdir where pbsubdir is the . 
# Default value: /usr/local/database/. 
dbcachedir: '/usr/local/database/'
